# macOS Finder file
.DS_Store

# VSCode files
.vscode

# Virtualenv directory
env

# Compiled java files
*.class

# JADE files
APDescription.txt
MTPs-Main-Container.txt

# Temp files created by jedit
*.asl~
*.mas2j~

############ Project 1 ############
# Jason files
cnp-assignment1/jason/src/bin
jade_results.csv
jason_results.csv
notes.txt