# macOS Finder file
.DS_Store

# VSCode files
.vscode

# Virtualenv directory
env

# Compiled java files
*.class

# JADE files
APDescription.txt
MTPs-Main-Container.txt

# Jason files
cnp-assignment1/jason/src/bin

# Temp files created by jedit
*.asl~
*.mas2j~