# macOS Finder file
.DS_Store

# VSCode files
.vscode

# Compiled java files
*.class

# JADE files
APDescription.txt
MTPs-Main-Container.txt

# Temp files created by jedit
*.asl~
*.mas2j~

############ Assignment 1 ############
# Jason files
cnp-assignment1/jason/src/bin
jade_results.csv
jason_results.csv
notes.txt


############ Assignment 2 ############
jpn_auction-assignment2/ja/src/bin
jpn_auction-assignment2/jaca/bin
jpn_auction-assignment2/jaca/.settings
jpn_auction-assignment2/jaca/.project
jpn_auction-assignment2/jaca/logging.properties
jpn_auction-assignment2/jacamo/bin
jpn_auction-assignment2/jacamo/.settings
jpn_auction-assignment2/jacamo/.project
jpn_auction-assignment2/jacamo/logging.properties